<!-- <div style="display: block" *ngIf='signalRService.data'>
  <canvas baseChart
    [datasets]="signalRService.data"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="chartLegend"
    [chartType]="chartType"
    [colors]="colors"
    (chartClick)="chartClicked($event)"></canvas>
</div>
<br><br>

<ul>
  <li *ngFor='let data of signalRService.broadcastedData'>
    <strong>Label: </strong> {{data.Label}} - <strong>Value: </strong> {{data.data[0]}}
  </li>
</ul> -->

<div>
  <kendo-scheduler
      [kendoSchedulerBinding]="signalRService.data"
      [kendoSchedulerReactiveEditing]="createFormGroup"
      [selectedDate]="selectedDate"
      style="height: 600px;"
      (save)="saveHandler($event)">
      <kendo-scheduler-week-view startTime="07:00">
      </kendo-scheduler-week-view>
  </kendo-scheduler>
</div>

<ul>
  <li *ngFor='let data of signalRService.broadcastedData'>
    <strong>Id: </strong> {{data.id}} - <strong>Title: </strong> {{data.title}} - <strong>start: </strong> {{data.start}}
  </li>
</ul>